@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Bitter');

html {
    font-size: 100%;
    background-color: #fff;
}

body {
    font-family: 'Droid Sans', serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

h1,
h2,
h4 {
    margin-top: 0;
    font-family: 'Bitter', sans-serif;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 0;
    color: white;
    border-bottom: 2px solid #ffd12a;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
}

h4 {
    font-size: 1.4rem;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1.4rem;
    font-size: 1rem;
}

.header {
    width: 100%;
    background-color: #fff;
}

.site-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90px;
    text-align: center;
    background-color: #fff;
}

.site-logo img {
    width: 375px;
}

.navbar-toggle {
    display: none;
    position: absolute;
    right: 20px;
    cursor: pointer;
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
    font-size: 36px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    padding: 5px;
}

.navbar a {
    margin-right: 3rem;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
    color: #ffd12a;
}

.banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/banner.jpg");
    height: 375px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contents {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    padding: 2rem;
}

.column {
    display: flex;
    min-height: 500px;
    border: 1px solid black;
}

.column-left {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 4;
}

.column-middle {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 2;
    padding-left: 2rem;
    padding-right: 2rem;
    max-height: 1000px;
    overflow-y: scroll;
}

.column-right {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 2;
}

.widgets {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    height: 350px;
}

.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-sizing: border-box;
    background-color: #0a176f;
    color: white;
    width: 12em;
    padding: 15px 32px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #4caf50;
    text-decoration: none;
}

table.results-table {
    background-color: #f0f0f0;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 2em;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    overflow: hidden;
}

table.results-table td {
    padding: 6px;
}

table.results-table tr {
    border: 1px solid black;
}

table.results-table tr:hover {
    background-color: #3b3b3b;
    color: white;
}

.message {
    text-align: center;
    font-weight: bold;
    color: red;
}

@media (max-width: 1100px) {
    .header {
        position: fixed;
        z-index: 1;
    }

    .banner-image,
    .contents {
        position: relative;
        top: 90px;
    }

    .navbar-toggle {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -33%;
        width: 33%;
        height: 100vh;
        padding: 0;
        z-index: 1;
        -webkit-transition: right 0.2s;
        transition: right 0.2s;
    }

    .navbar a {
        text-align: center;
        margin-right: 0;
        padding: 1rem;
        border-bottom: 1px solid grey;
    }

    .navbar a:hover {
        text-decoration: none;
        background-color: #ffd12a;
        color: black;
    }

    .navbar.show {
        right: 0;
    }

    .banner-image {
        height: 200px;
    }

    .contents {
        display: block;
    }

    .widgets {
        height: auto;
    }

    .column-middle {
        padding: 0;
        max-height: 100%;
        overflow-y: inherit;
    }
}

@media (max-width: 500px) {
    .site-logo img {
        width: 200px;
    }

    h1 {
        font-size: 1.4rem;
    }
}
